#onlineList .list-item[data-uid^='0']::before, .user-list.spam p[data-uid^='0']::before, .msgWrapper[data-uid^='0'] .displayPhoto { filter: hue-rotate(214.7deg); }
#onlineList .list-item[data-uid^='1']::before, .user-list.spam p[data-uid^='1']::before, .msgWrapper[data-uid^='1'] .displayPhoto { filter: hue-rotate(58.1deg); }
#onlineList .list-item[data-uid^='2']::before, .user-list.spam p[data-uid^='2']::before, .msgWrapper[data-uid^='2'] .displayPhoto { filter: hue-rotate(331.4deg); }
#onlineList .list-item[data-uid^='3']::before, .user-list.spam p[data-uid^='3']::before, .msgWrapper[data-uid^='3'] .displayPhoto { filter: hue-rotate(121.9deg); }
#onlineList .list-item[data-uid^='4']::before, .user-list.spam p[data-uid^='4']::before, .msgWrapper[data-uid^='4'] .displayPhoto { filter: hue-rotate(278.6deg); }
#onlineList .list-item[data-uid^='5']::before, .user-list.spam p[data-uid^='5']::before, .msgWrapper[data-uid^='5'] .displayPhoto { filter: hue-rotate(34.8deg); }
#onlineList .list-item[data-uid^='6']::before, .user-list.spam p[data-uid^='6']::before, .msgWrapper[data-uid^='6'] .displayPhoto { filter: hue-rotate(185.2deg); }
#onlineList .list-item[data-uid^='7']::before, .user-list.spam p[data-uid^='7']::before, .msgWrapper[data-uid^='7'] .displayPhoto { filter: hue-rotate(92.9deg); }
#onlineList .list-item[data-uid^='8']::before, .user-list.spam p[data-uid^='8']::before, .msgWrapper[data-uid^='8'] .displayPhoto { filter: hue-rotate(309.6deg); }
#onlineList .list-item[data-uid^='9']::before, .user-list.spam p[data-uid^='9']::before, .msgWrapper[data-uid^='9'] .displayPhoto { filter: hue-rotate(151.0deg); }

#onlineList .list-item[data-uid^='a']::before, .user-list.spam p[data-uid^='a']::before, .msgWrapper[data-uid^='a'] .displayPhoto { filter: hue-rotate(6.1deg); }
#onlineList .list-item[data-uid^='b']::before, .user-list.spam p[data-uid^='b']::before, .msgWrapper[data-uid^='b'] .displayPhoto { filter: hue-rotate(167.8deg); }
#onlineList .list-item[data-uid^='c']::before, .user-list.spam p[data-uid^='c']::before, .msgWrapper[data-uid^='c'] .displayPhoto { filter: hue-rotate(256.4deg); }
#onlineList .list-item[data-uid^='d']::before, .user-list.spam p[data-uid^='d']::before, .msgWrapper[data-uid^='d'] .displayPhoto { filter: hue-rotate(71.6deg); }
#onlineList .list-item[data-uid^='e']::before, .user-list.spam p[data-uid^='e']::before, .msgWrapper[data-uid^='e'] .displayPhoto { filter: hue-rotate(342.9deg); }
#onlineList .list-item[data-uid^='f']::before, .user-list.spam p[data-uid^='f']::before, .msgWrapper[data-uid^='f'] .displayPhoto { filter: hue-rotate(114.3deg); }
#onlineList .list-item[data-uid^='g']::before, .user-list.spam p[data-uid^='g']::before, .msgWrapper[data-uid^='g'] .displayPhoto { filter: hue-rotate(223.5deg); }
#onlineList .list-item[data-uid^='h']::before, .user-list.spam p[data-uid^='h']::before, .msgWrapper[data-uid^='h'] .displayPhoto { filter: hue-rotate(40.7deg); }
#onlineList .list-item[data-uid^='i']::before, .user-list.spam p[data-uid^='i']::before, .msgWrapper[data-uid^='i'] .displayPhoto { filter: hue-rotate(291.2deg); }
#onlineList .list-item[data-uid^='j']::before, .user-list.spam p[data-uid^='j']::before, .msgWrapper[data-uid^='j'] .displayPhoto { filter: hue-rotate(178.4deg); }
#onlineList .list-item[data-uid^='k']::before, .user-list.spam p[data-uid^='k']::before, .msgWrapper[data-uid^='k'] .displayPhoto { filter: hue-rotate(86.5deg); }
#onlineList .list-item[data-uid^='l']::before, .user-list.spam p[data-uid^='l']::before, .msgWrapper[data-uid^='l'] .displayPhoto { filter: hue-rotate(320.6deg); }
#onlineList .list-item[data-uid^='m']::before, .user-list.spam p[data-uid^='m']::before, .msgWrapper[data-uid^='m'] .displayPhoto { filter: hue-rotate(132.0deg); }
#onlineList .list-item[data-uid^='n']::before, .user-list.spam p[data-uid^='n']::before, .msgWrapper[data-uid^='n'] .displayPhoto { filter: hue-rotate(246.8deg); }
#onlineList .list-item[data-uid^='o']::before, .user-list.spam p[data-uid^='o']::before, .msgWrapper[data-uid^='o'] .displayPhoto { filter: hue-rotate(52.9deg); }
#onlineList .list-item[data-uid^='p']::before, .user-list.spam p[data-uid^='p']::before, .msgWrapper[data-uid^='p'] .displayPhoto { filter: hue-rotate(303.5deg); }
#onlineList .list-item[data-uid^='q']::before, .user-list.spam p[data-uid^='q']::before, .msgWrapper[data-uid^='q'] .displayPhoto { filter: hue-rotate(160.7deg); }
#onlineList .list-item[data-uid^='r']::before, .user-list.spam p[data-uid^='r']::before, .msgWrapper[data-uid^='r'] .displayPhoto { filter: hue-rotate(98.1deg); }
#onlineList .list-item[data-uid^='s']::before, .user-list.spam p[data-uid^='s']::before, .msgWrapper[data-uid^='s'] .displayPhoto { filter: hue-rotate(270.9deg); }
#onlineList .list-item[data-uid^='t']::before, .user-list.spam p[data-uid^='t']::before, .msgWrapper[data-uid^='t'] .displayPhoto { filter: hue-rotate(23.2deg); }
#onlineList .list-item[data-uid^='u']::before, .user-list.spam p[data-uid^='u']::before, .msgWrapper[data-uid^='u'] .displayPhoto { filter: hue-rotate(204.0deg); }
#onlineList .list-item[data-uid^='v']::before, .user-list.spam p[data-uid^='v']::before, .msgWrapper[data-uid^='v'] .displayPhoto { filter: hue-rotate(146.5deg); }
#onlineList .list-item[data-uid^='w']::before, .user-list.spam p[data-uid^='w']::before, .msgWrapper[data-uid^='w'] .displayPhoto { filter: hue-rotate(314.8deg); }
#onlineList .list-item[data-uid^='x']::before, .user-list.spam p[data-uid^='x']::before, .msgWrapper[data-uid^='x'] .displayPhoto { filter: hue-rotate(64.2deg); }
#onlineList .list-item[data-uid^='y']::before, .user-list.spam p[data-uid^='y']::before, .msgWrapper[data-uid^='y'] .displayPhoto { filter: hue-rotate(232.9deg); }
#onlineList .list-item[data-uid^='z']::before, .user-list.spam p[data-uid^='z']::before, .msgWrapper[data-uid^='z'] .displayPhoto { filter: hue-rotate(110.6deg); }

#onlineList .list-item[data-uid^='A']::before, .user-list.spam p[data-uid^='A']::before, .msgWrapper[data-uid^='A'] .displayPhoto { filter: hue-rotate(17.4deg); }
#onlineList .list-item[data-uid^='B']::before, .user-list.spam p[data-uid^='B']::before, .msgWrapper[data-uid^='B'] .displayPhoto { filter: hue-rotate(189.6deg); }
#onlineList .list-item[data-uid^='C']::before, .user-list.spam p[data-uid^='C']::before, .msgWrapper[data-uid^='C'] .displayPhoto { filter: hue-rotate(337.1deg); }
#onlineList .list-item[data-uid^='D']::before, .user-list.spam p[data-uid^='D']::before, .msgWrapper[data-uid^='D'] .displayPhoto { filter: hue-rotate(76.8deg); }
#onlineList .list-item[data-uid^='E']::before, .user-list.spam p[data-uid^='E']::before, .msgWrapper[data-uid^='E'] .displayPhoto { filter: hue-rotate(262.0deg); }
#onlineList .list-item[data-uid^='F']::before, .user-list.spam p[data-uid^='F']::before, .msgWrapper[data-uid^='F'] .displayPhoto { filter: hue-rotate(125.5deg); }
#onlineList .list-item[data-uid^='G']::before, .user-list.spam p[data-uid^='G']::before, .msgWrapper[data-uid^='G'] .displayPhoto { filter: hue-rotate(215.9deg); }
#onlineList .list-item[data-uid^='H']::before, .user-list.spam p[data-uid^='H']::before, .msgWrapper[data-uid^='H'] .displayPhoto { filter: hue-rotate(48.3deg); }
#onlineList .list-item[data-uid^='I']::before, .user-list.spam p[data-uid^='I']::before, .msgWrapper[data-uid^='I'] .displayPhoto { filter: hue-rotate(296.7deg); }
#onlineList .list-item[data-uid^='J']::before, .user-list.spam p[data-uid^='J']::before, .msgWrapper[data-uid^='J'] .displayPhoto { filter: hue-rotate(156.2deg); }
#onlineList .list-item[data-uid^='K']::before, .user-list.spam p[data-uid^='K']::before, .msgWrapper[data-uid^='K'] .displayPhoto { filter: hue-rotate(91.5deg); }
#onlineList .list-item[data-uid^='L']::before, .user-list.spam p[data-uid^='L']::before, .msgWrapper[data-uid^='L'] .displayPhoto { filter: hue-rotate(325.8deg); }
#onlineList .list-item[data-uid^='M']::before, .user-list.spam p[data-uid^='M']::before, .msgWrapper[data-uid^='M'] .displayPhoto { filter: hue-rotate(138.9deg); }
#onlineList .list-item[data-uid^='N']::before, .user-list.spam p[data-uid^='N']::before, .msgWrapper[data-uid^='N'] .displayPhoto { filter: hue-rotate(249.4deg); }
#onlineList .list-item[data-uid^='O']::before, .user-list.spam p[data-uid^='O']::before, .msgWrapper[data-uid^='O'] .displayPhoto { filter: hue-rotate(59.6deg); }
#onlineList .list-item[data-uid^='P']::before, .user-list.spam p[data-uid^='P']::before, .msgWrapper[data-uid^='P'] .displayPhoto { filter: hue-rotate(308.2deg); }
#onlineList .list-item[data-uid^='Q']::before, .user-list.spam p[data-uid^='Q']::before, .msgWrapper[data-uid^='Q'] .displayPhoto { filter: hue-rotate(170.3deg); }
#onlineList .list-item[data-uid^='R']::before, .user-list.spam p[data-uid^='R']::before, .msgWrapper[data-uid^='R'] .displayPhoto { filter: hue-rotate(103.8deg); }
#onlineList .list-item[data-uid^='S']::before, .user-list.spam p[data-uid^='S']::before, .msgWrapper[data-uid^='S'] .displayPhoto { filter: hue-rotate(276.5deg); }
#onlineList .list-item[data-uid^='T']::before, .user-list.spam p[data-uid^='T']::before, .msgWrapper[data-uid^='T'] .displayPhoto { filter: hue-rotate(29.1deg); }
#onlineList .list-item[data-uid^='U']::before, .user-list.spam p[data-uid^='U']::before, .msgWrapper[data-uid^='U'] .displayPhoto { filter: hue-rotate(209.8deg); }
#onlineList .list-item[data-uid^='V']::before, .user-list.spam p[data-uid^='V']::before, .msgWrapper[data-uid^='V'] .displayPhoto { filter: hue-rotate(144.1deg); }
#onlineList .list-item[data-uid^='W']::before, .user-list.spam p[data-uid^='W']::before, .msgWrapper[data-uid^='W'] .displayPhoto { filter: hue-rotate(318.9deg); }
#onlineList .list-item[data-uid^='X']::before, .user-list.spam p[data-uid^='X']::before, .msgWrapper[data-uid^='X'] .displayPhoto { filter: hue-rotate(67.7deg); }
#onlineList .list-item[data-uid^='Y']::before, .user-list.spam p[data-uid^='Y']::before, .msgWrapper[data-uid^='Y'] .displayPhoto { filter: hue-rotate(238.3deg); }
#onlineList .list-item[data-uid^='Z']::before, .user-list.spam p[data-uid^='Z']::before, .msgWrapper[data-uid^='Z'] .displayPhoto { filter: hue-rotate(116.2deg); }

/*iSmile*/
#onlineList .list-item[data-uid="Zs5Vz4qWGoO5QT1mwM3UIKqPeef1"],
.user-list.spam p[data-uid="Zs5Vz4qWGoO5QT1mwM3UIKqPeef1"],
.msgWrapper[data-uid="Zs5Vz4qWGoO5QT1mwM3UIKqPeef1"] .senderInfo .user,
.msgWrapper[data-uid="Zs5Vz4qWGoO5QT1mwM3UIKqPeef1"] .senderInfo .username {
	font-weight: bold;
	color: #1ebc9c;
}
#onlineList .list-item[data-uid="Zs5Vz4qWGoO5QT1mwM3UIKqPeef1"]::before,
.user-list.spam p[data-uid="Zs5Vz4qWGoO5QT1mwM3UIKqPeef1"]::before,
.msgWrapper[data-uid="Zs5Vz4qWGoO5QT1mwM3UIKqPeef1"] .displayPhoto {
	background-image: url('https://ismailhromcik95.github.io/ismile.neocities.org/discord/assets/images/icons/ismile-bigger.png');
	filter: hue-rotate(0deg) !important;
}

/*Kuroi*/
#onlineList .list-item[data-uid="61OMFBUSzDVnLOdwmV85mYc5lA12"],
.user-list.spam p[data-uid="61OMFBUSzDVnLOdwmV85mYc5lA12"],
.msgWrapper[data-uid="61OMFBUSzDVnLOdwmV85mYc5lA12"] .senderInfo .user,
.msgWrapper[data-uid="61OMFBUSzDVnLOdwmV85mYc5lA12"] .senderInfo .username,
#onlineList .list-item[data-uid="M7c6mHf6ACSghI9fq8UKtp4SYWT2"],
.user-list.spam p[data-uid="M7c6mHf6ACSghI9fq8UKtp4SYWT2"],
.msgWrapper[data-uid="M7c6mHf6ACSghI9fq8UKtp4SYWT2"] .senderInfo .user,
.msgWrapper[data-uid="M7c6mHf6ACSghI9fq8UKtp4SYWT2"] .senderInfo .username,
#onlineList .list-item[data-uid="Cvl1AvQxkrQ0X046zXLMAv6PAlv2"],
.user-list.spam p[data-uid="Cvl1AvQxkrQ0X046zXLMAv6PAlv2"],
.msgWrapper[data-uid="Cvl1AvQxkrQ0X046zXLMAv6PAlv2"] .senderInfo .user,
.msgWrapper[data-uid="Cvl1AvQxkrQ0X046zXLMAv6PAlv2"] .senderInfo .username {
	font-weight: bold;
	color: #fb74c6;
}
#onlineList .list-item[data-uid="61OMFBUSzDVnLOdwmV85mYc5lA12"]::before,
.user-list.spam p[data-uid="61OMFBUSzDVnLOdwmV85mYc5lA12"]::before,
.msgWrapper[data-uid="61OMFBUSzDVnLOdwmV85mYc5lA12"] .displayPhoto,
#onlineList .list-item[data-uid="M7c6mHf6ACSghI9fq8UKtp4SYWT2"]::before,
.user-list.spam p[data-uid="M7c6mHf6ACSghI9fq8UKtp4SYWT2"]::before,
.msgWrapper[data-uid="M7c6mHf6ACSghI9fq8UKtp4SYWT2"] .displayPhoto,
#onlineList .list-item[data-uid="Cvl1AvQxkrQ0X046zXLMAv6PAlv2"]::before,
.user-list.spam p[data-uid="Cvl1AvQxkrQ0X046zXLMAv6PAlv2"]::before,
.msgWrapper[data-uid="Cvl1AvQxkrQ0X046zXLMAv6PAlv2"] .displayPhoto {
  background-image: url(https://kuroi.neocities.org/img/pics/avatar.jpg);
	filter: hue-rotate(0deg) !important;
}

/*Onio*/
#onlineList .list-item[data-uid="XubBhFx8VtY4DpwmqvOCGorOSpD3"],
.user-list.spam p[data-uid="XubBhFx8VtY4DpwmqvOCGorOSpD3"],
.msgWrapper[data-uid="XubBhFx8VtY4DpwmqvOCGorOSpD3"] .senderInfo .user,
.msgWrapper[data-uid="XubBhFx8VtY4DpwmqvOCGorOSpD3"] .senderInfo .username {
	font-weight: bold;
	color: #f8b24d;
}
#onlineList .list-item[data-uid="XubBhFx8VtY4DpwmqvOCGorOSpD3"]::before,
.user-list.spam p[data-uid="XubBhFx8VtY4DpwmqvOCGorOSpD3"]::before,
.msgWrapper[data-uid="XubBhFx8VtY4DpwmqvOCGorOSpD3"] .displayPhoto {
  background-image: url(https://onio.club/petgame.gif);
	filter: hue-rotate(0deg) !important;
}

/*Kirbydogs*/
#onlineList .list-item[data-uid="BDkTfWS8WghpbFmN9Rxh3per5oq1"],
.user-list.spam p[data-uid="BDkTfWS8WghpbFmN9Rxh3per5oq1"],
.msgWrapper[data-uid="BDkTfWS8WghpbFmN9Rxh3per5oq1"] .senderInfo .user,
.msgWrapper[data-uid="BDkTfWS8WghpbFmN9Rxh3per5oq1"] .senderInfo .username {
	font-weight: bold;
	color: #fcf100;
}
#onlineList .list-item[data-uid="BDkTfWS8WghpbFmN9Rxh3per5oq1"]::before,
.user-list.spam p[data-uid="BDkTfWS8WghpbFmN9Rxh3per5oq1"]::before,
.msgWrapper[data-uid="BDkTfWS8WghpbFmN9Rxh3per5oq1"] .displayPhoto {
  background-image: url(https://kirbydogs.neocities.org/location-img/Standing%20K.png);
	filter: hue-rotate(0deg) !important;
}

/*Luneth*/
#onlineList .list-item[data-uid="AaKj6fq2t0QJ1pA6VlpvZx5AAGO2"],
.user-list.spam p[data-uid="AaKj6fq2t0QJ1pA6VlpvZx5AAGO2"],
.msgWrapper[data-uid="AaKj6fq2t0QJ1pA6VlpvZx5AAGO2"] .senderInfo .user,
.msgWrapper[data-uid="AaKj6fq2t0QJ1pA6VlpvZx5AAGO2"] .senderInfo .username {
	font-weight: bold;
	color: #6e8328;
}
#onlineList .list-item[data-uid="AaKj6fq2t0QJ1pA6VlpvZx5AAGO2"]::before,
.user-list.spam p[data-uid="AaKj6fq2t0QJ1pA6VlpvZx5AAGO2"]::before,
.msgWrapper[data-uid="AaKj6fq2t0QJ1pA6VlpvZx5AAGO2"] .displayPhoto {
  background-image: url(https://luneth-landing.neocities.org/misc_img/me4.png);
	filter: hue-rotate(0deg) !important;
}

/*Phelah / Mysteriz*/
#onlineList .list-item[data-uid="XmAuQoRUmAPoPqsI3ArxvKNsOnE3"],
.user-list.spam p[data-uid="XmAuQoRUmAPoPqsI3ArxvKNsOnE3"],
.msgWrapper[data-uid="XmAuQoRUmAPoPqsI3ArxvKNsOnE3"] .senderInfo .user,
.msgWrapper[data-uid="XmAuQoRUmAPoPqsI3ArxvKNsOnE3"] .senderInfo .username {
	font-weight: bold;
	color: #f20000;
}
#onlineList .list-item[data-uid="XmAuQoRUmAPoPqsI3ArxvKNsOnE3"]::before,
.user-list.spam p[data-uid="XmAuQoRUmAPoPqsI3ArxvKNsOnE3"]::before,
.msgWrapper[data-uid="XmAuQoRUmAPoPqsI3ArxvKNsOnE3"] .displayPhoto {
  background-image: url(https://phelah.nekoweb.org/MadiPfp.png);
	filter: hue-rotate(0deg) !important;
}
#onlineList .list-item[data-uid="vVZ56GmUTRdsNeHVlE34wyTYGWw1"],
.user-list.spam p[data-uid="vVZ56GmUTRdsNeHVlE34wyTYGWw1"],
.msgWrapper[data-uid="vVZ56GmUTRdsNeHVlE34wyTYGWw1"] .senderInfo .user,
.msgWrapper[data-uid="vVZ56GmUTRdsNeHVlE34wyTYGWw1"] .senderInfo .username {
	font-weight: bold;
	color: #f20000;
}
#onlineList .list-item[data-uid="vVZ56GmUTRdsNeHVlE34wyTYGWw1"]::before,
.user-list.spam p[data-uid="vVZ56GmUTRdsNeHVlE34wyTYGWw1"]::before,
.msgWrapper[data-uid="vVZ56GmUTRdsNeHVlE34wyTYGWw1"] .displayPhoto {
  background-image: url(https://phelah.nekoweb.org/MadiPfp.png);
	filter: hue-rotate(0deg) !important;
}

/*Andrew*/
#onlineList .list-item[data-uid="kaW7woNk6lXjj2e8LxWDywo4LAG2"]::before,
.user-list.spam p[data-uid="kaW7woNk6lXjj2e8LxWDywo4LAG2"]::before,
.msgWrapper[data-uid="kaW7woNk6lXjj2e8LxWDywo4LAG2"] .displayPhoto {
  background-image: url(https://andrew-grider.com/media/me-min.png);
	filter: hue-rotate(0deg) !important;
}
#onlineList .list-item[data-uid="kaW7woNk6lXjj2e8LxWDywo4LAG2"],
.user-list.spam p[data-uid="kaW7woNk6lXjj2e8LxWDywo4LAG2"],
.msgWrapper[data-uid="kaW7woNk6lXjj2e8LxWDywo4LAG2"] .senderInfo .user,
.msgWrapper[data-uid="kaW7woNk6lXjj2e8LxWDywo4LAG2"] .senderInfo .username {
	font-weight: bold;
	color: #f57a33;
}

/*Arda*/
#onlineList .list-item[data-uid="tGPbvnhns7bMvDvB0ry5PGrLGu53"]::before,
.user-list.spam p[data-uid="tGPbvnhns7bMvDvB0ry5PGrLGu53"]::before,
.msgWrapper[data-uid="tGPbvnhns7bMvDvB0ry5PGrLGu53"] .displayPhoto {
  background-image: url(https://i.imgur.com/HfUFrWK.jpeg);
	filter: hue-rotate(0deg) !important;
}
#onlineList .list-item[data-uid="saS02MbVmweFpWYp0AVOV9HKvMu1"]::before,
.user-list.spam p[data-uid="saS02MbVmweFpWYp0AVOV9HKvMu1"]::before,
.msgWrapper[data-uid="saS02MbVmweFpWYp0AVOV9HKvMu1"] .displayPhoto {
  background-image: url(https://i.imgur.com/HfUFrWK.jpeg);
	filter: hue-rotate(0deg) !important;
}
#onlineList .list-item[data-uid="KeNHz6YjE0PdADi8ZaR8DnAgs1w2"]::before,
.user-list.spam p[data-uid="KeNHz6YjE0PdADi8ZaR8DnAgs1w2"]::before,
.msgWrapper[data-uid="KeNHz6YjE0PdADi8ZaR8DnAgs1w2"] .displayPhoto {
  background-image: url(https://i.imgur.com/HfUFrWK.jpeg);
	filter: hue-rotate(0deg) !important;
}

/*WOZ*/
#onlineList .list-item[data-uid="woz"]::before,
.user-list.spam p[data-uid="woz"]::before,
.msgWrapper[data-uid="woz"] .displayPhoto {
  background-image: url(https://i.imgur.com/90V5wdk.png);
	filter: hue-rotate(0deg) !important;
}

/*hello1234*/
#onlineList .list-item[data-uid="jDJ24cvPGkW1uO3JJFTTUFCLzvp2"]::before,
.user-list.spam p[data-uid="jDJ24cvPGkW1uO3JJFTTUFCLzvp2"]::before,
.msgWrapper[data-uid="jDJ24cvPGkW1uO3JJFTTUFCLzvp2"] .displayPhoto {
  background-image: url(https://media.tenor.com/3IACtMvxwdsAAAAj/pikachu-happy.gif);
	filter: hue-rotate(0deg) !important;
}
#onlineList .list-item[data-uid="THpPA6ZMT6eidpvzxv2kCH2iIkq2"]::before,
.user-list.spam p[data-uid="THpPA6ZMT6eidpvzxv2kCH2iIkq2"]::before,
.msgWrapper[data-uid="THpPA6ZMT6eidpvzxv2kCH2iIkq2"] .displayPhoto {
  background-image: url(https://media.tenor.com/3IACtMvxwdsAAAAj/pikachu-happy.gif);
	filter: hue-rotate(0deg) !important;
}

/*Hat*/
#onlineList .list-item[data-uid="5Dv7unDDa2aQEthZnbIUJO6lZqY2"],
.user-list.spam p[data-uid="5Dv7unDDa2aQEthZnbIUJO6lZqY2"],
.msgWrapper[data-uid="5Dv7unDDa2aQEthZnbIUJO6lZqY2"] .senderInfo .user,
.msgWrapper[data-uid="5Dv7unDDa2aQEthZnbIUJO6lZqY2"] .senderInfo .username,
#onlineList .list-item[data-uid="5B2dYrAQkWRFNjTnhsLZuTD40Wr1"],
.user-list.spam p[data-uid="5B2dYrAQkWRFNjTnhsLZuTD40Wr1"],
.msgWrapper[data-uid="5B2dYrAQkWRFNjTnhsLZuTD40Wr1"] .senderInfo .user,
.msgWrapper[data-uid="5B2dYrAQkWRFNjTnhsLZuTD40Wr1"] .senderInfo .username,
#onlineList .list-item[data-uid="XWddf6q3uDTj2a9eGwydOmlHA2v2"],
.user-list.spam p[data-uid="XWddf6q3uDTj2a9eGwydOmlHA2v2"],
.msgWrapper[data-uid="XWddf6q3uDTj2a9eGwydOmlHA2v2"] .senderInfo .user,
.msgWrapper[data-uid="XWddf6q3uDTj2a9eGwydOmlHA2v2"] .senderInfo .username {
	font-weight: bold;
	color: #b03b3b;
}
#onlineList .list-item[data-uid="5Dv7unDDa2aQEthZnbIUJO6lZqY2"]::before,
.user-list.spam p[data-uid="5Dv7unDDa2aQEthZnbIUJO6lZqY2"]::before,
.msgWrapper[data-uid="5Dv7unDDa2aQEthZnbIUJO6lZqY2"] .displayPhoto,
#onlineList .list-item[data-uid="5B2dYrAQkWRFNjTnhsLZuTD40Wr1"]::before,
.user-list.spam p[data-uid="5B2dYrAQkWRFNjTnhsLZuTD40Wr1"]::before,
.msgWrapper[data-uid="5B2dYrAQkWRFNjTnhsLZuTD40Wr1"] .displayPhoto,
#onlineList .list-item[data-uid="XWddf6q3uDTj2a9eGwydOmlHA2v2"]::before,
.user-list.spam p[data-uid="XWddf6q3uDTj2a9eGwydOmlHA2v2"]::before,
.msgWrapper[data-uid="XWddf6q3uDTj2a9eGwydOmlHA2v2"] .displayPhoto {
  background-image: url(https://i.imgur.com/t1QRjK0.png);
	filter: hue-rotate(0deg) !important;
}

/*bluejaybard*/
#onlineList .list-item[data-uid="b12Ed9hFXfd8pysJpgaFnP9iOE13"],
.user-list.spam p[data-uid="b12Ed9hFXfd8pysJpgaFnP9iOE13"],
.msgWrapper[data-uid="b12Ed9hFXfd8pysJpgaFnP9iOE13"] .senderInfo .user,
.msgWrapper[data-uid="b12Ed9hFXfd8pysJpgaFnP9iOE13"] .senderInfo .username {
	font-weight: bold;
	color: #4766ff;
}
#onlineList .list-item[data-uid="b12Ed9hFXfd8pysJpgaFnP9iOE13"]::before,
.user-list.spam p[data-uid="b12Ed9hFXfd8pysJpgaFnP9iOE13"]::before,
.msgWrapper[data-uid="b12Ed9hFXfd8pysJpgaFnP9iOE13"] .displayPhoto {
  background-image: url(https://bluejaybard.neocities.org/images/bluejay.PNG);
	filter: hue-rotate(0deg) !important;
}

/*Boredom_not_found*/
#onlineList .list-item[data-uid="hHxuaNPljyOXJPlHAufTN2pyKDL2"],
.user-list.spam p[data-uid="hHxuaNPljyOXJPlHAufTN2pyKDL2"],
.msgWrapper[data-uid="hHxuaNPljyOXJPlHAufTN2pyKDL2"] .senderInfo .user,
.msgWrapper[data-uid="hHxuaNPljyOXJPlHAufTN2pyKDL2"] .senderInfo .username {
	font-weight: bold;
	color: #e271eb;
}
#onlineList .list-item[data-uid="hHxuaNPljyOXJPlHAufTN2pyKDL2"]::before,
.user-list.spam p[data-uid="hHxuaNPljyOXJPlHAufTN2pyKDL2"]::before,
.msgWrapper[data-uid="hHxuaNPljyOXJPlHAufTN2pyKDL2"] .displayPhoto {
  background-image: url(https://boredom-not-found.neocities.org/pfp.png);
	filter: hue-rotate(0deg) !important;
}
#onlineList .list-item[data-uid="GaALIbMRKlfd3e18OfzKVhxX5lC3"],
.user-list.spam p[data-uid="GaALIbMRKlfd3e18OfzKVhxX5lC3"],
.msgWrapper[data-uid="GaALIbMRKlfd3e18OfzKVhxX5lC3"] .senderInfo .user,
.msgWrapper[data-uid="GaALIbMRKlfd3e18OfzKVhxX5lC3"] .senderInfo .username {
	font-weight: bold;
	color: #e271eb;
}
#onlineList .list-item[data-uid="GaALIbMRKlfd3e18OfzKVhxX5lC3"]::before,
.user-list.spam p[data-uid="GaALIbMRKlfd3e18OfzKVhxX5lC3"]::before,
.msgWrapper[data-uid="GaALIbMRKlfd3e18OfzKVhxX5lC3"] .displayPhoto {
  background-image: url(https://boredom-not-found.neocities.org/pfp.png);
	filter: hue-rotate(0deg) !important;
}
#onlineList .list-item[data-uid="FkoCKlDamaXz5NwRbK2iaiONCGk1"],
.user-list.spam p[data-uid="FkoCKlDamaXz5NwRbK2iaiONCGk1"],
.msgWrapper[data-uid="FkoCKlDamaXz5NwRbK2iaiONCGk1"] .senderInfo .user,
.msgWrapper[data-uid="FkoCKlDamaXz5NwRbK2iaiONCGk1"] .senderInfo .username {
	font-weight: bold;
	color: #e271eb;
}
#onlineList .list-item[data-uid="FkoCKlDamaXz5NwRbK2iaiONCGk1"]::before,
.user-list.spam p[data-uid="FkoCKlDamaXz5NwRbK2iaiONCGk1"]::before,
.msgWrapper[data-uid="FkoCKlDamaXz5NwRbK2iaiONCGk1"] .displayPhoto {
  background-image: url(https://boredom-not-found.neocities.org/pfp.png);
	filter: hue-rotate(0deg) !important;
}
