@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700&family=Open+Sans&family=Noto+Color+Emoji&display=swap');

body {
	background: #393b41;
	font-family: 'Catamaran', sans-serif;
	color: #ffffe6;
	scrollbar-color: #74757e #2b2b31 !important;
}

.content {
	height: 91vh;
	overflow-y: scroll;
}

.flex-center,
.empty-channel-icon,
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.channel-start {
	margin: 0 20px;
	margin-top: 35px;
}

.empty-channel-icon {
	font-size: 70px;
	font-weight: 200;
	color: #fff;
	background: #4f545c;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin-bottom: 10px;
	user-select: none;
}

.chat-welcome {
	color: #fff;
	font-weight: bold;
	font-size: 35px;
}

.start-text {
	color: #b9bbbe;
	font-size: 16px;
	margin: 10px 0;
}

.separator {
	width: 100%;
	border-bottom: 1px solid #42464d;
	margin: 20px 0;
}

.msgWrapper {
	display: flex;
	padding: 3px 20px;
	font-size: 16px;
}

.msgWrapper:hover {
	background-color: #42464d;
}

.msgWrapper.no-img {
	padding-left: 68px;
	margin-bottom: 20px;
}

.displayPhoto {
	background-image: url('https://ismile.neocities.org/discord/assets/images/icons/discord.png');
	background-size: 100% 100%;
	border-radius: 50%;
	cursor: pointer;
	width: 48px;
	height: 48px;
	aspect-ratio: 1/1;
}

.allMessages {
	margin-left: 15px;
}

.senderInfo .name {
	font-weight: bold;
}

.senderInfo .name:hover {
	text-decoration: underline;
	cursor: pointer;
}

.senderInfo .name.iSmile {
	color: #1ebc9c;
}

.senderInfo .timestamp {
	color: #a3a6a990;
	font-size: 12px;
	margin-left: 5px;
	font-family: 'Open Sans', sans-serif;
	cursor: default;
}

.msgBody {
	margin-top: 7px;
	color: #dcddde;
	overflow-wrap: break-word;
}

.msgBody img {
	border-radius: 10px;
	cursor: pointer;
	width: 350px;
	max-width: 100%;
}

.msgBody p {
	margin: 10px 0;
}

.msgBody a {
	color: #7bb0f5;
	text-decoration: none;
}

.msgBody a:hover {
	text-decoration: underline;
}

.no-img .msgBody {
	margin-top: 0;
}

.input-active {
	background: #40444b;
	height: 44px;
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding-right: 41px;
	border-radius: 7px;
	font-size: 16px;
	font-family: 'Catamaran', sans-serif;
	border: none;
	color: #fff;
	position: absolute;
	bottom: 11px;
	left: 15px;
	width: calc(100% - 30px);
}

.input-active::placeholder {
	color: #73757b;
}

.input-active:focus {
	outline: none;
}

#is_typing {
	display: flex;
	align-items: center;
	gap: 6px;
	position: absolute;
	bottom: 59px;
	left: 21.5px;
}

#is_typing img {
	height: 12px;
}

#scrollToBottom {
	background: #4c525a;
	color: #f0f1f1;
	width: calc(100% - 30px);
	height: 24px;
	border-radius: 5px 5px 0 0;
	padding: 0 15px;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	position: absolute;
	bottom: 53px;
	left: 15px;
	white-space: nowrap;
	z-index: 1000;
}

.image-upload {
	position: absolute;
	bottom: 24px;
	right: 15px;
	fill: #b7b9bc;
	width: 20px;
	margin-left: auto;
	margin-right: 11px;
}

.image-upload:hover {
	filter: brightness(1.25);
	cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80vh;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
	display: none !important;
}
