@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700&family=Open+Sans&family=Noto+Color+Emoji&display=swap');

body {
	background: #393b41;
	font-family: 'Catamaran', sans-serif;
	color: #ffffe6;
	scrollbar-color: #74757e #2b2b31 !important;
}

.flex-center,
.empty-channel-icon,
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.channel-start {
	margin: 0 20px;
	margin-top: 35px;
}

.empty-channel-icon {
	font-size: 70px;
	font-weight: 200;
	color: #fff;
	background: #4f545c;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin-bottom: 10px;
	user-select: none;
}

.chat-welcome {
	color: #fff;
	font-weight: bold;
	font-size: 35px;
}

.start-text {
	color: #b9bbbe;
	font-size: 16px;
	margin: 10px 0;
}

.separator {
	width: 100%;
	border-bottom: 1px solid #42464d;
	margin: 20px 0;
}

.msgWrapper {
	display: flex;
	padding: 3px 20px;
	font-size: 16px;
}

.msgWrapper:hover {
	background-color: #42464d;
}

.msgWrapper.no-img {
	padding-left: 68px;
	margin-bottom: 20px;
}

.msgBody img {
	width: 350px;
	max-width: 100%;
}

.input-active {
	background: #40444b;
	height: 44px;
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding-right: 41px;
	border-radius: 7px;
	font-size: 16px;
	font-family: 'Catamaran', sans-serif;
	border: none;
	color: #fff;
	position: absolute;
	bottom: 11px;
	left: 15px;
	width: calc(100% - 30px);
}

.input-active::placeholder {
	color: #73757b;
}

.input-active:focus {
	outline: none;
}

#is_typing {
	display: flex;
	align-items: center;
	gap: 6px;
	position: absolute;
	bottom: 59px;
	left: 21.5px;
}

#is_typing img {
	height: 12px;
}

#scrollToBottom {
	background: #4c525a;
	color: #f0f1f1;
	width: calc(100% - 30px);
	height: 24px;
	border-radius: 5px 5px 0 0;
	padding: 0 15px;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	position: absolute;
	bottom: 53px;
	left: 15px;
	white-space: nowrap;
	z-index: 1000;
}

.image-upload {
	position: absolute;
	bottom: 24px;
	right: 15px;
	fill: #b7b9bc;
	width: 20px;
	margin-left: auto;
	margin-right: 11px;
}

.image-upload:hover {
	filter: brightness(1.25);
	cursor: pointer;
}

.hidden {
	display: none !important;
}