@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

html,
body {
	height: 100%;
}

body {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  image-rendering: pixelated !important;
	font-size: 2em;
	overflow: hidden;
}

.content {
	background: #88c9a1;
	height: 100%;
	width: 100%;
	max-height: 300px;
	max-width: 600px;
	text-align: center;
	padding: 20px;
	position: relative;
	overflow: hidden;
}

.content h1 {
	font-size: 1.7em;
}

.menu-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu {
	margin-top: 50px;
	font-size: 1.2em;
	width: fit-content;
	text-align: left;
}

.menu-btn {
	display: block;
}

.menu-btn input {
	appearance: none;
	position: relative;
}

.menu-btn input:checked::before {
	content: '';
	position: absolute;
	top: -20px;
	left: -22px;
	width: 16px;
	height: 20px;
	background-image: url(../img/arrow.png);
	background-size: 100% 100%;
}

.agumon,
.vmon,
.guilmon,
.pikachu,
.chikorita,
.torchic {
	position: absolute;
	width: 60px;
	height: 60px;
	background-size: 100% 100%;
	transform: scaleX(-1);
}

.agumon {
	left: 30px;
	bottom: 30px;
	background-image: url(../img/mons/digimon/gen1/agumon/idle.gif);
}

.vmon {
	left: 70px;
	bottom: 100px;
	background-image: url(../img/mons/digimon/gen2/vmon/idle.gif);
}

.guilmon {
	left: 110px;
	bottom: 30px;
	background-image: url(../img/mons/digimon/gen3/guilmon/idle.gif);
}

.pikachu {
	right: 30px;
	bottom: 30px;
	background-image: url(../img/mons/pokemon/gen1/pikachu/idle.gif);
}

.chikorita {
	right: 70px;
	bottom: 100px;
	background-image: url(../img/mons/pokemon/gen2/chikorita/idle.gif);
	width: 64px;
	height: 64px;
	transform: none;
}

.torchic {
	right: 110px;
	bottom: 30px;
	background-image: url(../img/mons/pokemon/gen3/torchic/idle.gif);
	width: 64px;
	height: 64px;
}

@media only screen and (max-width: 550px) {
	.agumon,
	.vmon,
	.guilmon,
	.pikachu,
	.chikorita,
	.torchic {
		width: 9vw;
		height: 9vw;
	}

	.vmon,
	.chikorita {
		bottom: 40%;
	}
}

@media only screen and (max-width: 500px) {
	body {
		font-size: 5.5vw;
	}

	.vmon {
		left: 12%;
	}

	.guilmon {
		left: 20%;
	}

	.chikorita {
		right: 12%;
	}

	.torchic {
		right: 20%;
	}
}

@media only screen and (max-width: 450px) {
	body {
		font-size: 6vw;
	}

	.menu-btn input:checked::before {
		width: 3.5vw;
		height: 4vw;
		top: -1.3em;
	}
}

@media only screen and (max-width: 350px) {
	body {
		font-size: 6.5vw;
	}

	.menu-btn input:checked::before {
		top: -1.1em;
	}
}

@media only screen and (max-width: 300px) {
	body {
		font-size: 7vw;
	}

	.menu-btn input:checked::before {
		top: -1em;
	}

	.agumon,
	.vmon,
	.guilmon,
	.pikachu,
	.chikorita,
	.torchic {
		display: none;
	}
}

@media only screen and (max-width: 250px) {
	.menu-btn input:checked::before {
		top: -0.8em;
	}
}

@media only screen and (max-width: 200px) {
	.menu-btn input:checked::before {
		top: -0.6em;
		left: -1em;
	}
}

@media only screen and (max-width: 150px) {
	.menu-btn input:checked::before {
		top: -0.4em;
	}
}

@media only screen and (max-width: 100px) {
	.menu-btn input:checked::before {
		top: -0.2em;
		left: -0.5em;
	}
}

@media only screen and (max-height: 260px) {
	.content {
		padding: 0 20px;
	}
}

@media only screen and (max-height: 200px) {
	.menu {
		margin-top: 10px;
	}
}
